<h2 class="display-2"><%= @article.title %></h2>
<hr>
<p>
  <%= @article.content %>
</p>
<ul class="list-inline">
  <li>
    <%= fa_icon "edit" %>
  </li>
  <li>
    <%= fa_icon "trash" %>
  </li>
</ul>